@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

/* 
'color1':'#343e3d',
'color2':'#607466',
'color3':'#aedcc0',
'color4':'#7bd389', bright green
'color5':'#38e4ae', 
*/

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #aedcc0;
  color: whitesmoke;
  
}
::-webkit-scrollbar {
  width: 10px;
  transition: all 1s;
}

::-webkit-scrollbar-track {
  background: #343e3d; 
  border-radius: 0.375rem;
  transition: all 1s;
}
 
::-webkit-scrollbar-thumb {
  background: #607466;
  box-shadow: #343e3d 3px 3px; 
  border-radius: 10px;
  transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  transition: all .5s; 
}