@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
'color1':'#343e3d',
'color2':'#607466',
'color3':'#aedcc0',
'color4':'#7bd389',
'color5':'#38e4ae', 
*/

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #aedcc0;
  color: whitesmoke;
  
}

